<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="andromo.odiafm">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
    <activity
        android:name="andromo.odiafm.Dp"
        android:label="@string/app_name"
        android:screenOrientation="fullSensor"
        android:theme="@android:style/Theme.Black.NoTitleBar" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

    <activity
        android:name="andromo.odiafm.MainActivity"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>
        <activity android:name="andromo.odiafm.SongDisplay"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden|screenLayout|uiMode|smallestScreenSize"
            android:parentActivityName="andromo.odiafm.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="andromo.odiafm.MainActivity" />
        </activity>
        <activity android:name="andromo.odiafm.OSong"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden|screenLayout|uiMode|smallestScreenSize"
            android:parentActivityName="andromo.odiafm.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="andromo.odiafm.MainActivity" />
        </activity>
        <activity android:name="andromo.odiafm.Prv"
            android:parentActivityName="andromo.odiafm.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="andromo.odiafm.MainActivity" />
        </activity>
        <service
            android:name="andromo.odiafm.firebse.FirebaseMessageService"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service android:name="andromo.odiafm.firebse.FireBaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
            <meta-data
                android:name="com.google.firebase.messaging.default_notification_icon"
                android:resource="@mipmap/icon" />
            <meta-data
                android:name="com.google.firebase.messaging.default_notification_color"
                android:resource="@color/colorAccent" />

        </service>

    </application>
</manifest>